<div class="pasos3">
    <h1>Obtén dinero de inmediato en solo 3 pasos. ¡Así de fácil!</h1>
    <div class="pasos-container">
        <!-- Paso 1 -->
        <div class="paso">
            <div class="contenido-texto">
                <h2>Paso 1: Valora tu artículo</h2>
                <p>Revisa cuánto te damos por tu artículo <strong>haciendo clic aquí</strong>.</p>
                <button id="boton1">Evaluar</button>
            </div>
            <div class="contenido-imagen">
                <img id="imagenPaso1" src="../assets/PASO 1.png" alt="Valora tu artículo">
            </div>
        </div>
        <!-- Paso 2 -->
        <div class="paso">
            <div class="contenido-texto">
                <h2>Paso 2: Ingresa tus datos</h2>
                <p>Danos tus datos personales y recibirás la confirmación.</p>
            </div>
            <div class="contenido-imagen">
                <img id="imagenPaso2" src="../assets/PASO 2.png" alt="Ingresa tus datos">
            </div>
        </div>
        <!-- Paso 3 -->
        <div class="paso">
            <div class="contenido-texto">
                <h2>Paso 3: Recibe tu dinero</h2>
                <p>Obtén el dinero que necesitas.</p>
            </div>
            <div class="contenido-imagen">
                <img id="imagenPaso3" src="../assets/PASO 3.png" alt="Recibe tu dinero">
            </div>
        </div>
    </div>
</div>
