<div class="Parte1">
   
    <!-- Sección de información adicional -->
    <div class="info-adicional">
        <h2>Lo que tiene valor para ti, también lo tiene para nosotros</h2>
        <p>Por eso, a través de una compraventa con pacto de retroventa, podrás obtener dinero inmediato con tus artículos.</p>

        <div class="seccion-adicional">
            <h3>Beneficios</h3>
            <ul>
                <li>Puedes recuperar tu artículo cuando lo decidas en el tiempo pactado.</li>
                <li>No tienes que vender eso que tanto aprecias.</li>
                <li>Puedes usar el mismo artículo las veces que quieras.</li>
                <li>Sin trámites demorados.</li>
            </ul>
        </div>

        <div class="seccion-adicional">
            <h3>Consideraciones</h3>
            <p>Una vez se pase el tiempo del contrato, Tu prodructo se pasará a remate.</p>
        </div>

        <div class="seccion-adicional">
            <h3>Normativa legal</h3>
            <ul>
                <li>Ley 1523 de 2012 - Regulación de Casas de Empeño: Establece disposiciones sobre el control, vigilancia y regulación de las casas de empeño en Colombia, incluyendo los procedimientos para la realización de remates.</li>
                <li>Normativas de la Superintendencia Financiera de Colombia: La Superintendencia emite regulaciones específicas para supervisar y controlar las actividades de las casas de empeño, incluyendo los procesos de remate.</li>
                <li>Ley de Protección al Consumidor: Esta ley establece derechos y obligaciones tanto para los consumidores como para los proveedores de bienes y servicios, garantizando la transparencia y la protección de los consumidores en las transacciones comerciales.</li>
                <li>Código de Comercio: Contiene disposiciones relacionadas con las operaciones comerciales, incluyendo aspectos como los contratos de compraventa, subastas y procedimientos legales para la realización de transacciones comerciales.</li>
            </ul>
        </div>
    </div>

<!-- Nueva sección de Artículos que puedes convertir en Dinero Inmediato
<div class="articulos-dinero">
    <h2>Artículos que puedes convertir en Dinero Inmediato</h2>
    <div class="seccion-articulos">
        <div class="contenido-articulos">
            <h3>Joyas de oro y plata</h3>
            <p>La valorización de tus joyas depende de características como: el peso, estado de la joya, pureza del oro (22k, 18k, 14k, 10k, etc).</p>
        </div>
        <div class="imagen-articulo">
            <img src="../assets/joyas.png" alt="Joyas de oro y plata">
        </div>
    </div>
    <div class="seccion-articulos">
        <div class="contenido-articulos">
            <h3>Otros productos</h3>
            <p>Electrodomésticos, Herramientas, Tecnología, Bicicletas y más.</p>
        </div>
        <div class="imagen-articulo">
            <img src="../assets/productos.png" alt="Otros productos">
        </div>
    </div>
    <div class="imagen-grande">
        <img src="../assets/IDENTIDAD.png" alt="Imagen grande">
    </div>
</div> -->
